.waiting-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
}

.waiting-card {
  width: 100%;
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag-container {
    margin-bottom: 40px;
}

.poll-tag {
  background: #4F0DCE;
  color: white;
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  display: inline-flex;
  gap: 5px;
}

.waiting-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #F2F2F2;
  border-top-color: #4F0DCE;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.waiting-content h1 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  line-height: 1.4;
}